if [ ! -d .venv ]; then
    echo "Creating python venv"
    new_venv=1
    python3.12 -m venv .venv
else
    new_venv=0
    echo "Python venv exists"
fi

[ "$new_venv" = "1" ] && poetry install

source .venv/bin/activate
unset PS1